<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="navbar-brand" href="#"> 
    <img src="/assets/icon/1.jpg" width="30" height="30" alt="" />
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
  <carousel>
    <slide>
      <img src="assets/bg/1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/bg/2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/bg/3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Row 1
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          Row 1 Part 2 1
        </div>
        <div class="col-sm">
          Row 1 Part 2 2
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      ROW 2 Part I
    </div>
    <div class="col-sm">
      ROW 2 Part II
    </div>
  </div>
</div>



<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse quasi,
          veritatis totam voluptas nostrum.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <mdb-icon fas icon="home" class="mr-3"></mdb-icon> New York, NY 10012, US
            </p>
          </li>
          <li>
            <p>
              <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@example.com
            </p>
          </li>
          <li>
            <p>
              <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
            </p>
          </li>
          <li>
            <p>
              <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a mdbBtn floating="true" type="button" color="btn-fb" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <!-- Twitter -->
        <a type="button" mdbBtn floating="true" color="btn-tw" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!-- Google +-->
        <a type="button" mdbBtn floating="true" color="btn-gplus" mdbWavesEffect>
          <mdb-icon fab fab icon="google-plus"></mdb-icon>
        </a>
        <!-- Dribbble -->
        <a type="button" mdbBtn floating="true" color="btn-dribbble" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


<router-outlet></router-outlet>






