<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="navbar-brand" href="#"> 
    <img src="/assets/icon/1.jpg" width="30" height="30" alt="" />
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
  <carousel>
    <slide>
      <img src="assets/bg/1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/bg/2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/bg/3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Row 1
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          Row 1 Part 2 1
        </div>
        <div class="col-sm">
          Row 1 Part 2 2
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      ROW 2 Part I
    </div>
    <div class="col-sm">
      ROW 2 Part II
    </div>
  </div>
</div>


<router-outlet></router-outlet>
